---
body_class: "main"
---
<p class="explanation">
{Insert description here}
</p>

<div class="landingmenu">
	<a class="install"           href="#">Install</a>
	<a class="gettingstarted"    href="#">Getting started</a>
	<div class="smaller"
		><a class="sources"      href="#">
				 Sources <img src="design/github-10-16.png" alt="(on github)" />
		</a><a class="community" href="#">Community
	</a></div>
</div>
